.app {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #222;
  color: white;
  padding: 1rem;
}



.content {
  display: flex;             /* flex container */
  gap: 20px;
  padding: 2rem;
  justify-content: center;   /* center horizontally */
  align-items: flex-start;   /* align items to top */
}



.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px); /* 3 columns of 200px each */
  gap: 20px 40px;
}





.book-card {
  width: 200px;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

}


.book-card img {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
}

.book-card h3 {
  font-size: 1rem;
  margin: 5px 0;
  height:50px;
}

.book-card p {
  font-size: 0.9rem;
  color: #555;
}

.book-card a {
  color: #007bff;
  text-decoration: none;
}

.add-button {
  width: 224px;
  height: 324px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  cursor: pointer;

}
.add-button:hover {
  background: #002646;
}

.add-button-column {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.footer {
  background: #f4f4f4;
  padding: 1rem;
  margin-top: auto;
}



@media (max-width: 768px) {
  .content {
    flex-direction: column;  
    align-items: center;   
  }

  .book-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .add-button-column {
    margin-top: 20px;    
  }
}

